<TabView androidTabsPosition='bottom' androidSelectedTabHighlightColor='crimson' selectedTabTextColor='crimson' >
    <StackLayout *tabItem="{ title: 'Today'}">
        <page-router-outlet name='today'></page-router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{ title: 'Current Challenge'}">
            <page-router-outlet name='currentChallenge'></page-router-outlet>
    </StackLayout>
    <!-- <page-router-outlet *tabItem="{title: 'Today'}" name='today'></page-router-outlet> -->
    <!-- <page-router-outlet *tabItem="{title: 'Current Challenge'}" name='currentChallenge'> -->
        <!-- Tell the Ns to switch between tabs </page-router-outlet> -->
</TabView>
